*.o
*.lo
*.la
*.pc
.deps
.libs
aclocal.m4
autom4te.cache/
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
configure
config.guess
config.sub
config.log
config.status
depcomp
install-sh
missing
Makefile
Makefile.in
wampp
